.iphone11{
    background-image: url('../img/iphone11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem;
    min-height:15rem; 
    margin:0 auto;
}
.iphone11pro{
    color: white;
    background-image: url('../img/iphone11pro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem;/* is equal to 800px;*/
    min-height:15rem; 
    margin:0 auto;
}
.iphone11pro a{
    color: white;
    padding-right: 3.125rem;
}
.iphone11 a{
    color:black;
    padding-right: 3.125rem;/*50px*/
    max-width:50rem;
    min-height: 10rem;

}
.applewatch{
    background-image: url('../img/applewatch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem; /* is equal to 800px;*/
    min-height: 15rem;
    margin:0 auto;
}
.menu{
    background-color: black;
    max-width:50rem; /* is equal to 800px;*/
    min-height: 15rem;
}
.menu li{
color: white;
border-top: 2px solid;
border-top-color: grey;
padding-top:0.9375rem;
padding-bottom: 0.3125rem;
list-style: none;
}
/*.menu a{
    max-width: 50rem;
    margin: 0 auto;
}*/
/*.widthmx{
    padding-right: 50px;
        max-width: 50rem;
        margin: 0 auto;
}*/