.iphone11{
    background-image: url('../img/iphone11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem;
    min-height:15rem; 
    margin:0 auto;
    padding-top:2rem;
    text-align: center;
}
.iphone11pro{
    color: white;
    background-image: url('../img/iphone11pro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem;/* is equal to 800px;*/
    min-height:15rem; 
    margin:0 auto;
    padding-top:2rem;
    text-align: center;
}
.iphone11pro a{
    color: white;
    padding-right: 3.125rem;
    
}
.iphone11 a{
    color:black;
    padding-right: 3.125rem;/*50px*/
    max-width:50rem;
    min-height: 10rem;

}
.applewatch{
    background-image: url('../img/applewatch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem; /* is equal to 800px;*/
    min-height: 15rem;
    margin:0 auto;
    text-align: center;
}
.menu{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem; /* is equal to 800px;*/
    min-height: 10rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    margin:0 auto;

}
.menu li{
color: white;
border-bottom: 1px solid;/*to create a line*/
border-bottom-color: grey;
padding-top:0.9375rem;
padding-bottom: 0.3125rem;/*extra bottom space with the content*/
/*margin: 0 auto;*/
list-style: none;
}
.topbar{
    background-color: black;
   background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    /* padding:0 0 0 2%; */
    max-width:50rem;
    min-height:3rem;
    margin:0 auto;
}
.search{
    background-color:grey;
     /* background-image: url('../img/search.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    max-width:50rem; /* is equal to 800px;*/
    min-height: 2rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    margin:0 auto;

}
.logo{
    display: inline;
    text-align:center;
    box-sizing:border-box;
    mask-repeat: no-repeat;
    padding: 0 0 0 49%;
}
.cart{
    display: block;
    box-sizing:border-box;
    mask-repeat: no-repeat;
    margin-right:25rem;  
    align-items: right;
}
.search-background{
    background-color: black;
    max-width:50rem; 
    min-height: 2rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    margin:0 auto;

}
.clssearch{
    
    width:39rem; 
    min-height: 2rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    margin:0 auto;
    background-color:grey;
     /* background-image: url('../img/search.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 0px;
    color: white;
}
::placeholder {
    color: white;
  }
  /* .iphone11proalign{ 
    display: inline;
    text-align: center;

  }*/